@import "tailwindcss";
@source "../../layouts/**/*.html";
@source "../../content/**/*.html";

:root {
  --bg: #111111;
  --text: #ffffff;
  --accent: #B892FF;
  --overlay: rgba(0,0,0,0.1)
}

html {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-y: scroll
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text);
  font-family: 'Fira Code', monospace;
  line-height: 2.0;
  margin: 0;
  max-width: none;
  font-size: 14px;
  min-height: 100vh;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2)
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: var(--overlay);
  z-index: -1;
}

main {
  flex: 1
}


header {
  margin-bottom: 1rem;
}

.footer-container {
  margin-inline: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text {
  @apply mb-0 text-xs py-6 
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover:not(.block):not(.not-prose) {
  color: var(--accent);
}

p a,
li a:not(nav a),
article a:not(.block) {
  text-decoration: underline;
}

a.block,
a.not-prose {
  text-decoration: none;
}

a.block:hover,
a.not-prose:hover {
  color: inherit;
}

p {
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: 2px solid var(--text);
  padding-left: 1.5rem;
  margin-left: 0;
  margin-bottom: 1rem;
  font-style: italic;
  color: var(--text);
}

h1 {
  @apply text-3xl font-bold;
  color: var(--text);
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.flex-1 h2,
.flex-1 h3,
.flex-1 h4,
.flex-1 h5,
.flex-1 h6 {
  margin-top: 1.5rem;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  color: var(--text);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  color: var(--text);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 10px;
  font-weight: bold;
  color: var(--text);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid var(--text);
  background: none;
}

.content-container {
  @apply mx-auto w-full max-w-4xl px-8 py-12;
}

.frosted {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
}

.toc-container {
  position: sticky;
  top: 2rem;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column
}

@media (max-width: 768px) {
  .toc-container {
    display: none;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-image: url('/checkbox.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 4px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url('/checked.png');
}

input[type="email"] {
  color: #000000 !important;
  color: #000000;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav:not(#TableOfContents) ul li {
  @apply pl-5;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li::before {
  display: none;
}

ul {
  @apply pl-4;
  list-style: none;
  margin-bottom: 1rem;
}

ul li {
  @apply pl-2;
}

/* hides sparkle bullets for checkbox lists */
ul li:has(input[type="checkbox"]) {
  padding-left: 0;
}

ul li:has(input[type="checkbox"])::before {
  display: none;
}

ol {
  list-style: decimal;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}

ol li {
  position: relative;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #f9a8d4;
}

.portrait {
  @apply rounded-full w-30 h-30
}

.card {
  @apply rounded-lg border-2 p-6 flex flex-col;
}

.timeline {
  --timeline-padding: 1rem;
  border-left: 2px solid var(--text);
  padding-left: var(--timeline-padding);
}

.timeline-item {
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--timeline-padding) - 6px);
  top: calc(20.6px + 1.5rem - 6px); /* Move downwards to middle of h2 (including margin) and offset by half of circle + border width*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 2px solid var(--text);
}

.subheading {
  @apply text-sm text-gray-300;
}

.timeline-item .role {
  margin-bottom: 0.5rem;
}

.post-icon {
  @apply w-4 mr-2
}

.card-icon {
  @apply w-8 self-start
}

.resume-button {
  @apply w-30 border-2 border-white rounded-2xl flex justify-center items-center
}

.favicon {
  @apply w-12 rounded-full border-2 border-white p-2 fill-current
}

a.card:hover,
.favicon:hover,
.resume-button:hover,
.section-item:hover {
  border-color: var(--accent)
}

.section-item {
  @apply flex cursor-pointer flex-col space-y-4 rounded-lg border-2 border-transparent p-6 transition-all duration-150;
}